*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/assetWizardSettings.xml
/build
calculator/libs/
calculator/src/main/res/drawable-hdpi/
calculator/src/main/res/drawable-mdpi/
calculator/src/main/res/drawable-v21/
calculator/src/main/res/drawable-xhdpi/
calculator/src/main/res/drawable-xxhdpi/
calculator/src/main/res/drawable-xxxhdpi/
common/libs/
